/*
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 667px;
}

.flex {
    display: flex;
}

.item-lista {
    display: flex;
}

.icone-esquerdo ion-icon {
    width: 24px;
    height: 17px;
}

.icone-check {
    border: 3px solid #28BB25;
    background: #28BB25;
}

.header {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-shadow: 0px 4px 6px 0px #0000000D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 22px;
}

.logo img {
    width: 75px;
    height: 53px;
}

.icone-bp ion-icon {
    width: 42px;
    height: 31px;
}

.icone-bp:hover, .icone-sendmessage:hover {
    cursor: pointer;
}

.mid {
    width: 375px;
    margin-top: 85px;
    padding-bottom: 85px;
}

.footer {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-shadow: 0px 4px 6px 0px #0000000D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;    
    padding: 0px 17px;
}

.enviando {
    font-size: 14px;
    font-weight: 300;
}

.text-input {
    width: 145px;
    height: 30px;
}

.text-input input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: none;
}

.text-input input::placeholder{
    color: #000000;
}

.text-input input:placeholder-shown {
    font-style: italic;
}

.icone-sendmessage ion-icon {
    width: 26px;
    height: 26px;
}

li {
    width: 100%;
    margin-bottom: 4px;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 9px;
    background-color: #FFFFFF;
    font-size: 14px;
}

.e-s{
    background-color: #DCDCDC;
}

.pm {
    background-color: #FFDEDE;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: #FFFFFF;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login {
    margin-top: 72px;
}

.logo-login img {
    width: 130px;
    height: 92px;
}

.name-input {
    margin-top: 94px;
    width: 260px;
    height: 54px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #AEAEAE;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: 1px solid #D7D7D7
}

.entrar-btn {
    margin-top: 15px;
    width: 109px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #696969;
    border-radius: 9px;
    background-color: #E7E7E7;
    border: none;
}

.lista {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: #00000099;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

.participantes {
    background: #FFFFFF;
    width: 259px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-escolher-participante {
    width: 100%;
    height: 84px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 45px;
}

.fonte {
    font-weight: 400;
    font-size: 16px;
}

.hide-list, .hide {
    display: none;
}

span.time {
    font-weight: 400;
    color: #AAAAAA;
}

span.nome {
    font-weight: 700;
    color: #000000;
}

button.icone-sendmessage  {
    border: none;
    background: none;
}